<!DOCTYPE html>
<html>
<head>
  <title>Blog Posting UI</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&family=Montserrat+Alternates:wght@300&family=Roboto+Mono:wght@500&family=Ysabeau+Infant:wght@300&display=swap');
    * {
      box-sizing: border-box;
      /* font-family: 'Montserrat Alternates', sans-serif; */
      font-family: 'Ysabeau Infant', sans-serif;
    }
    
    body {
      padding: 15px;
      /* font-family: Arial, sans-serif; */
      font-family: 'IBM Plex Mono', monospace;
/* font-family: 'Roboto Mono', monospace; */
      background-color: #f2f2f2;
    }
    
    /* main body */
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 1300px;
      margin: 0 auto;
    }
    
    .division {
      width: 23%; /* Adjust this value to control the width of each box (leaving some space for margins) */
      padding: 10px;
      border: 1px solid #ccc9c9;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      transition: transform 0.3s ease;
      margin: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    .division:hover {
      transform: translateY(-5px);
    }

    .division img {
      height: 195px;
      width: 195px;
      margin-bottom: 10px;
    }
    
    h1 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
      color: #222020;
    }
    h3 {
      font-size: 20px;
      margin-bottom: 10px;
      color: #0b0606;
    }
    
    p {
      font-size: 17px;
      line-height: 1.5;
      color: #222020;
      text-align: center;
    }

  

  </style>
</head>
<body>
  <%- include ('navBar.ejs') %>
 
    <div class="container">
      <% blogs.forEach((blog) => { %>
        <div class="division">
          <h1> <%- blog.id %></h3>
            <img src="<%- blog.image %>" alt="BlogApp">
            <h2>Title: <%- blog.title %></h3>
            <h3>Username: <%-blog.user.username %></h3>
          <p>Description: <%- blog.description %></p>

        </div>
      <% }) %>
    </div>

</body>
</html>
